.box-wrap {
	display: flex;
}
.box {
	width: 50px;
	height: 30px;
	background-color: #ccc;
	margin: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-animation: tip-pop .3s .3s ease both;
	        animation: tip-pop .3s .3s ease both;
}

@-webkit-keyframes tip-pop {
	from {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes tip-pop {
	from {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}