.box-wrap {
	display: flex;
	will-change: transform;
	transition: .3s ease;
}
.box {
	width: 50px;
	height: 30px;
	background-color: #ccc;
	margin: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: tip-pop .3s .3s ease both;
}

@keyframes tip-pop {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}