.box-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	will-change: transform;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.box {
	width: 50px;
	height: 30px;
	background-color: #ccc;
	margin: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-animation: tip-pop .3s .3s ease both;
	        animation: tip-pop .3s .3s ease both;
}

@-webkit-keyframes tip-pop {
	from {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes tip-pop {
	from {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}